<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RX6KLE0TXH"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-RX6KLE0TXH')
    </script>
  </head>

  <body>
    🪨 Welcome to the Dwayne Johnson Fan Club (DJFC), the door is open ! 🪨
    <a href="/logs/">Show logs</a>
    <a href="/cookie/">Show cookies</a>
    <br />
    <img
      src="https://img.freepik.com/vecteurs-premium/porte-ouverte-vecteur-blanc-cadre_212889-686.jpg?w=2000"
      alt=""
      style="background-color:white" width="900" height="400" 
    />
  </body>
</html>
